body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #0F0F0F;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 10.2rem 0;
  transition: .6s ease-out;
}

.logo a {
  font-size: 1.125rem;
  text-decoration: none;
  color: white;
  transition: .25s;
  cursor: default;
}

.logo a:hover {
  opacity: .84;
  transition: .25s;
}

.nav-links {
  display: flex;
  font-size: 1.125rem;
}

.nav-links a {
  color: #FFF;
  margin-left: 3rem;
  opacity: .54;
  text-decoration: none;
  transition: .5s ease-out;
}

.nav-links a:hover {
  opacity: 1;
  transition: .5s;
}

#current-page {
  opacity: 1;
  cursor: default;
}

.hero-text {
  margin: 0 auto;
  padding: 3rem 0;
  cursor: default;
}

.hero-text p {
  opacity: .54;
}

h1 {
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 1.212;
  margin: .5rem 0;
}

.hero-text p:last-child {
  text-align: right;
}

h2 {
  font-size: 2.25rem;
  font-weight: 900;
  opacity: .87;
  padding: 3rem 10.2rem 2rem;
  transition: .6s ease-out;
}

.project {
  padding: 0 10.2rem 3rem;
  display: flex;
  transition: .6s ease-out;
}

.project-images {
  display: flex;
}

img {
  padding-right: 1rem;
  height: 16.5rem;
}

#selected-img {
  padding-right: 1rem;
  height: 50vh;
  position: relative;
  z-index: 10;
  transition: .45s ease-out;
}

.project-info {
  padding-left: 2rem;
}

h3 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.222;
  margin-bottom: .5rem;
}

.project-info p {
  font-size: 1.125rem;
  line-height: 1.562;
  padding-bottom: 3rem;
}

.asel-image {
  filter: drop-shadow(5px 7px 0px #391CB0);
  transition: .2s ease-out;
}

.asel-image:hover {
  filter: drop-shadow(10px 14px 0px #391CB0);
  transition: .2s ease-out;
}

.chess-image {
  filter: drop-shadow(5px 7px 0px #3B730D);
  transition: .2s ease-out;
}

.chess-image:hover {
  filter: drop-shadow(10px 14px 0px #3B730D);
  transition: .2s ease-out;
}

.project-info a {
  font-size: 1.125rem;
  text-decoration: none;
  color: black;
  cursor: default;
}

.hides {
  display: none;
}

@media screen and (min-width: 1440px) {
  nav {
    padding: 1.5rem 20% 0;
    transition: .6s ease-out;
  }

  h2 {
    padding: 3rem 20% 2rem;
    transition: .6s ease-out;
  }

  .project {
    padding: 0 20% 3rem;
    transition: .6s ease-out;
  }
}

@media screen and (max-width: 920px) {
  nav {
    padding: 1.5rem 5% 0;
    transition: .6s ease-out;
  }

  h2 {
    padding: 3rem 5% 2rem;
    transition: .6s ease-out;
  }

  .project {
    padding: 0 2% 3rem;
    transition: .6s ease-out;
  }
}

@media screen and (max-width: 786px) {
  nav {
    padding: 1.5rem 5% 0;
    transition: .6s ease-out;
  }

  h2 {
    padding: 3rem 5% 2rem;
    transition: .6s ease-out;
  }

  .hero-text {
    text-align: center;
  }

  .hero-text p:last-child {
    text-align: center;
  }

  .project {
    padding: 0 2% 3rem;
    display: flex;
    flex-direction: column-reverse;
    transition: .6s ease-out;
  }

  .project-images img:last-child{
    display: none;
  }

  .project-info p {
    display: none;
  }

  .project-info {
    padding-left: 2%;
  }

  img {
    padding: .5rem auto;
    padding-right: auto;
    width: 98%;
    height: auto;
  }

}
